@font-face {
	font-family: Hiatus;
	src: url("assets/fonts/Hiatus/Hiatus.ttf");
}

body {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}


.justify-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.min-h-screen {
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: 700;
}

.got {
    padding-left: 3%;
    background-image: url('../assets/site/mapblue.jpg');
    background-size: cover;
}

.got__map {
    max-width: 73%;
    height: 94vh;
    padding-top: calc(100vh * 0.03);
    padding-bottom: calc(100vh * 0.03);
    padding-right: 2%;
    column-gap: calc(36% / 7);
}


.got__sidebar {
    height: 100vh;
    min-width: 25%;
    max-width: 25%;
    background-color: darkgrey;
}

.got__pic {
    width: 8%;
    max-height: 12vh;
}

.img-size {
    width: 100%;
    margin-bottom: 2px;
}

.img-name {
    font-size: 0.5rem;
}

.got__search {
    margin-bottom: 1rem;
}

.got__title {

}

.got__char-info {
    padding: 5%;
}

.char-img {
    width: 100%;
}

.char-bio {

}
